.SignUpLinkButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  padding: 10px 19px;

  font-size: 14px;
  font-weight: 700;
  line-height: 0.93;
  color: #40464e;

  text-transform: uppercase;
  background-color: transparent;
  /* background-color: #d8b681; */

  border: 2px solid #d8b681;
  border-radius: 100px;
}
.SignUpLinkButton:hover {
  fill: #ea8c1f;
  color: '#40464E';
  border-color: '#EA8C1F';
}

.SignUpLinkButton:active {
  fill: #ea8c1f;
  color: '#40464E';
  background-color: '#F7F6F0';
  border-color: '#EA8C1F';
}
