.navLink {
  font-family: 'Mark Pro', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 0.93;

  transition: all var(--timing-function__main);
}
.navLink:hover {
  color: var(--actionOrangeClr);
}
.navLink:active {
  color: var(--brownLightClr);
}
